<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% load static %}
    <title>Limelight par Adrien Trahan</title>
    <link rel="stylesheet" href="{% static 'djangotest/index.css' %}">
    <script src="{% static 'djangotest/index.js' %}"></script>
    <link rel="stylesheet" href="{% static 'djangotest/jquery-ui.css'  %}">
    <script src="{% static 'djangotest/jquery-1.12.4.js'  %}"></script>
    <script src="{% static 'djangotest/jquery-ui.js'  %}"></script>
  </head>
  <body>
    <img id="clean">
    <img id="modified">
    <h1 id="huetit">Hue</h1>
    <img id="hueimage" src="{% static 'djangotest/hue.png'  %}" alt="">
    <div id="hue"></div>
    <h1 id="sattit">Saturation</h1>
    <div id="saturation"></div>
    <h1 id="valtit">Value</h1>
    <div id="value"></div>
    <h1 id="width"></h1>
    <h1 id="height"></h1>
    <h1 id="y"></h1>
    <h1 id="x"></h1>
  </body>
</html>
